# Salin file ini menjadi .env dan isi nilainya
# Dapatkan nilai ini dari Vercel Dashboard > Storage > Postgres > .env.local

POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
